/* Write your CSS here */
.success-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #64748b;
  border-radius: 7px;
  margin: 10px;
  width: 45%;
  
}
.close-logo {
  font-size: 30px;
}
